# ==========================================================
# DATABASE CONFIGURATION
# ==========================================================
# Prisma database connection URL
# Format: sqlserver://[host]:[port];database=[database];user=[user];password=[password];trustServerCertificate=[true/false]
DATABASE_URL=postgresql://postgres:postgres@db:5432/vehicles

# ==========================================================
# AWS CONFIGURATION
# ==========================================================
# AWS Region for services
AWS_REGION=us-east-1
AWS_PROFILE=local

# ==========================================================
# SQS CONFIGURATION
# ==========================================================
SQS_CREATE_QUEUE_URL=http://sqs:9324/queue/create-vehicle
SQS_CREATE_NAME=create-vehicle
SQS_UPDATE_QUEUE_URL=http://sqs:9324/queue/update-vehicle
SQS_UPDATE_NAME=update-vehicle
SQS_REMOVE_QUEUE_URL=http://sqs:9324/queue/remove-vehicle
SQS_REMOVE_NAME=remove-vehicle


# ==========================================================
# ADDITIONAL NOTES
# ==========================================================
# - Environment variables declared in this file are automatically made available to Prisma.
# - See the Prisma documentation for more details: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# - Prisma supports native connection string formats for various databases.
#   See the documentation for all connection string options: https://pris.ly/d/connection-strings
# - When adding new queues, follow the naming convention:
#   SQS_[CONTEXT]_QUEUE_URL and SQS_[CONTEXT]_QUEUE_NAME

# ==========================================================
# DEV ENVS
# ===========================================================
PORT=3000