# ==========================================================
# DATABASE CONFIGURATION
# ==========================================================
# Prisma database connection URL
# Format: sqlserver://[host]:[port];database=[database];user=[user];password=[password];trustServerCertificate=[true/false]
DATABASE_URL=

# ==========================================================
# AWS CONFIGURATION
# ==========================================================
# AWS Region for services
AWS_REGION=
AWS_PROFILE=

# ==========================================================
# SQS CONFIGURATION
# ==========================================================
SQS_CREATE_QUEUE_URL=
SQS_CREATE_NAME=
SQS_UPDATE_QUEUE_URL=
SQS_UPDATE_NAME=
SQS_REMOVE_QUEUE_URL=
SQS_REMOVE_NAME=


# ==========================================================
# ADDITIONAL NOTES
# ==========================================================
# - Environment variables declared in this file are automatically made available to Prisma.
# - See the Prisma documentation for more details: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# - Prisma supports native connection string formats for various databases.
#   See the documentation for all connection string options: https://pris.ly/d/connection-strings
# - When adding new queues, follow the naming convention:
#   SQS_[CONTEXT]_QUEUE_URL and SQS_[CONTEXT]_QUEUE_NAME

# ==========================================================
# DEV ENVS
# ===========================================================
PORT=3001